.postContainer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #c8dbea;
    padding: 15px;
}
.buttonContainer{
    margin: 0px;
    padding :0px;
}

.card{
    width: 500px;
    height: 150px;
}